header.header
    .container
        .ht__phone
            img(src="./images/icon/person.svg", alt="person")
            a(href="#").header__sing-in Вход 
            span /
            a(href="#").header___sing-up Регистрация
.main-content__in.container
    .breadcrumbs
        a(href="#") Главная
        span /
        a(href="#") Личный кабинет
        span /
        a(href="#").active Мои данные
    .account
        h2 Мои данные
        .account__title
            .account__links
                a(href="#0") Мои данные
                a(href="#0") Заявки
                a(href="#0") Помощь
            .account__btns
                a(href="#") Удалить 
                a(href="#") Выйти
        .account__info
            .account__person
                h4 Иванов Иван Иванович
                .account__table
                    .account__row
                        span E-mail
                        span Info@nesko-nsk.ru
                    .account__row
                        span СНИЛС
                        span 111-222-333 00
                    .account__row
                        span Телефон
                        span 8 (383) 380-80-55
            .account__button
                a(href="#") Подать заявку
                a(href="#") Список заявок
        .application
            .application__title
                h4 Список заявок
                .application__btn
                    input(type="radio", name="table" checked)#active.active
                    label(for="active") Активные
                    input(type="radio", name="table")#draft
                    label(for="draft") Черновики
            .application__active.active
                .table
                    .table__row
                        .table__col-1
                            .table__head
                                span ID
                            span.table__text 2889
                        .table__col-2
                            .table__head
                                span №
                            span.table__text -
                        .table__col-3
                            .table__head
                                span Дата заявки
                            span.table__text 24.06.2020
                        .table__col-4
                            .table__head
                                span Наименование ЭУ, адрес
                            a(href="#").table__text Две существующие КЛ0,4 от ТП-’1241’ АО “РЭС” до ШУНО (шкаф управления уличным освещением ШР-10 для нужд ГКУ НСО “ЦОДД” и до ШУНО (шкаф управления уличным освещением ШР-1651)
                        .table__col-5
                            .table__head
                                span Состояние запроса
                            span.table__text.blue Заявка отправлена
                    .table__row.gray
                        .table__col-1
                            .table__head
                                span ID
                            span.table__text 2888
                        .table__col-2
                            .table__head
                                span №
                            span.table__text -
                        .table__col-3
                            .table__head
                                span Дата заявки
                            span.table__text 24.06.2020
                        .table__col-4
                            .table__head
                                span Наименование ЭУ, адрес
                            a(href="#").table__text Две существующие КЛ0,4 от ТП-’1241’ АО “РЭС” до ШУНО (шкаф управления уличным освещением ШР-10 для нужд ГКУ НСО “ЦОДД” и до ШУНО (шкаф управления уличным освещением ШР-1651)
                        .table__col-5
                            .table__head
                                span Состояние запроса
                            span.table__text.blue ДТП НА выдаче
                    .table__row
                        .table__col-1
                            .table__head
                                span ID
                            span.table__text 2887
                        .table__col-2
                            .table__head
                                span №
                            span.table__text -
                        .table__col-3
                            .table__head
                                span Дата заявки
                            span.table__text 24.06.2020
                        .table__col-4
                            .table__head
                                span Наименование ЭУ, адрес
                            a(href="#").table__text Две существующие КЛ0,4 от ТП-’1241’ АО “РЭС” до ШУНО (шкаф управления уличным освещением ШР-10 для нужд ГКУ НСО “ЦОДД” и до ШУНО (шкаф управления уличным освещением ШР-1651)
                        .table__col-5
                            .table__head
                                span Состояние запроса
                            span.table__text.red Заявка отклонена
                    .table__row.gray
                        .table__col-1
                            .table__head
                                span ID
                            span.table__text 2886
                        .table__col-2
                            .table__head
                                span №
                            span.table__text -
                        .table__col-3
                            .table__head
                                span Дата заявки
                            span.table__text 24.06.2020
                        .table__col-4
                            .table__head
                                span Наименование ЭУ, адрес
                            a(href="#").table__text Две существующие КЛ0,4 от ТП-’1241’ АО “РЭС” до ШУНО (шкаф управления уличным освещением ШР-10 для нужд ГКУ НСО “ЦОДД” и до ШУНО (шкаф управления уличным освещением ШР-1651)
                        .table__col-5
                            .table__head
                                span Состояние запроса
                            span.table__text.blue Заявка в работе
                    .table__row
                        .table__col-1
                            .table__head
                                span ID
                            span.table__text 2885
                        .table__col-2
                            .table__head
                                span №
                            span.table__text -
                        .table__col-3
                            .table__head
                                span Дата заявки
                            span.table__text 24.06.2020
                        .table__col-4
                            .table__head
                                span Наименование ЭУ, адрес
                            a(href="#").table__text Две существующие КЛ0,4 от ТП-’1241’ АО “РЭС” до ШУНО (шкаф управления уличным освещением ШР-10 для нужд ГКУ НСО “ЦОДД” и до ШУНО (шкаф управления уличным освещением ШР-1651)
                        .table__col-5
                            .table__head
                                span Состояние запроса
                            span.table__text.green ДТП заключен
            .application__draft
                .draft
                    .draft__row
                        a(href="#") Рекламная конструкция
                        span Черновик
                    .draft__row
                        .draft__col
                            span ≤ 15 кВт
                            span Постоянная
                        .draft__col
                            p 24.06.2020
                            button
                                img(src="./images/icon/basket.svg", alt="basket")
                                | Удалить
                .draft
                    .draft__row
                        a(href="#") Светофорный объект
                        span Черновик
                    .draft__row
                        .draft__col
                            span ≤ 15 кВт
                            span Постоянная
                        .draft__col
                            p 24.06.2020
                            button
                                img(src="./images/icon/basket.svg", alt="basket")
                                | Удалить
                    .draft__row
                        .draft__doct
                            p Файлы:
                            p 
                                a(href="#") Заявка. docx
                                a(href="#") Схема.bmp
