header.header
    .container
        .ht__phone
            img(src="./images/icon/person.svg", alt="person")
            a(href="#").header__sing-in Вход 
            span /
            a(href="#").header___sing-up Регистрация
.main-content__in.container
    .breadcrumbs
        a(href="#") Главная
        span /
        a(href="#") Личный кабинет
        span /
        a(href="#").active Мои данные
    .account
        h2 Мои данные
        .account__title
            .account__links
                a(href="#0") Мои данные
                a(href="#0") Заявки
                a(href="#0") Помощь
            .account__btns
                a(href="#") Удалить 
                a(href="#") Выйти
        .account__info
            .account__person
                h4 Иванов Иван Иванович
                .account__table
                    .account__row
                        span E-mail
                        span Info@nesko-nsk.ru
                    .account__row
                        span СНИЛС
                        span 111-222-333 00
                    .account__row
                        span Телефон
                        span 8 (383) 380-80-55
            .account__button
                a(href="#") Подать заявку
                a(href="#") Список заявок
        .help
            form(action="#")
                p Здесь Вы можете оставить вопросы, относящиеся к технологическому присоединению, либо вопросы, касательно неполадок в работе личного кабинета
                label Ваши вопросы 
                    span *
                textarea(cols="30", rows="10", placeholder="Задайте интересующие Вас вопросы")
                input(type="submit", value="Отправить")
                span Также свои вопросы Вы можете направить на электронную почту МУП «НЭСКО»: info@nasko-nsk.ru
    .cookie
        a(href="#0").cookie__close
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.209492 11.7421C0.508765 12.0407 0.967652 12.0407 1.26693 11.7421L5.9755 7.0445L10.6841 11.7421C10.9634 12.0606 11.4223 12.0805 11.7415 11.8217C12.0607 11.563 12.0807 11.0852 11.8213 10.7668C11.8014 10.7469 11.7814 10.707 11.7415 10.6871L7.03293 5.98953L11.7415 1.29192C12.0408 1.01325 12.0607 0.535529 11.7814 0.236952C11.5021 -0.0616246 11.0233 -0.0815299 10.724 0.197142C10.704 0.217047 10.704 0.217047 10.6841 0.236952L5.9755 4.93456L1.26693 0.236952C0.967652 -0.0417195 0.488814 -0.0218146 0.209492 0.276762C-0.049879 0.555434 -0.049879 1.01325 0.209492 1.29192L4.91807 5.98953L0.209492 10.6871C-0.0698306 10.9857 -0.0698306 11.4435 0.209492 11.7421Z" fill="#0C3C60"/>
            </svg>
        p Мы используем файлы cookie. Подробнее — в нашей политике по обработке персональных данных
        a(href="#").cookie__btn Все понятно
        