header.header
    .container
        .ht__phone
            img(src="./images/icon/person.svg", alt="person")
            a(href="#").header__sing-in Вход 
            span /
            a(href="#").header___sing-up Регистрация
.main-content__in.container
    .breadcrumbs
        a(href="#") Главная
        span /
        a(href="#") Личный кабинет
        span /
        a(href="#").active Мои данные
    .account
        h2 Мои данные
        .account__title
            .account__links
                a(href="#0") Мои данные
                a(href="#0") Заявки
                a(href="#0") Помощь
            .account__btns
                a(href="#") Удалить 
                a(href="#") Выйти
        .account__info
            .account__person
                h4 Иванов Иван Иванович
                .account__table
                    .account__row
                        span E-mail
                        span Info@nesko-nsk.ru
                    .account__row
                        span СНИЛС
                        span 111-222-333 00
                    .account__row
                        span Телефон
                        span 8 (383) 380-80-55
            .account__button
                a(href="#") Подать заявку
                a(href="#") Список заявок
        .order
            h4 Заявка на технологическое присоединение  (в том числе временное)
            .order-point
                span 1
                .order-point__text
                    p Наименование присоединяемого  энергопринимающего устройства *
                    input(type="text", placeholder="Например, рекламная конструкция, светофорный объект, здание и др.")
            .order-point
                span 2
                .order-point__text
                    p Максимальная мощность (с учетом ранее присоединенных энергопринимающих устройств)
                    .order__btn
                        input(type="radio", name="power")#point-1
                        label(for="point-1") ≤ 15 кВт
                        input(type="radio", name="power")#point-2
                        label(for="point-2") > 15 кВт
            .order-point
                span 3
                .order-point__text
                    p Схема электроснабжения
                    .order__btn
                        input(type="radio", name="time")#point-3
                        label(for="point-3") Постоянная
                        input(type="radio", name="time")#point-4
                        label(for="point-4") Временная
            .order-point
                span 4
                .order-point__text
                    p Соответствует ли заявка, приложениям п.14 Правил технологического присоединения (Постановление Правительства РФ от 27.12.2004 №861)
                    span В пункте 14 Правил технологического присоединения указаны: Заявители - Физические лица, подающие заявку в целях технолоогического присоединения энергопринимающих устройств, максимальная мощность которых состовляет до 15 кВт включительно (0 с учетом ранее присоединенных в данной точке присоединения энергопринимающих устройств), которые используются для бытовых и иных нужд, не связанных с ощуществлением предпринимательской деятельности, и энергоснабжение которых предусматривается по одному источнику
            .order-point
                span 5
                .order-point__text
                    p Необходимо скачать и заполнить форму заявки
                    a(href="#") Скачать форму заявки
                    p К заявке должны быть приложены следующие документы:
                    ol
                        li Акт разграничения границ балансовой принадлежности электрических сетей (не предоставляется, если акт об осуществлении технологического присоединения содержит описание границ балансовой принадлежности объектов электроэнергетики (энергопринимающих устройств))
                        li Акт разграничения границ балансовой принадлежности электрических сетей (не предоставляется, если акт об осуществлении технологического присоединения содержит описание границ балансовой принадлежности объектов электроэнергетики (энергопринимающих устройств))
                        li Акт допуска прибора учета в эксплуатацию
                        li Акт разграничения границ балансовой принадлежности электрических сетей (не предоставляется, если акт об осуществлении технологического присоединения содержит описание границ балансовой принадлежности объектов электроэнергетики (энергопринимающих устройств))
                        li Акт допуска прибора учета в эксплуатацию
                    .order-doc
                        .order-doc__form
                            h4 Прикрепите файл с заполненной заявкой и все необходимые документы 
                            p (до 10 Мбайт в формате pdf, doc, docx, jpg, png, tiff, tif)  *
                            a(href="#") Прикрепить документы
                    .order-doc
                        .order-doc__block
                            a(href="#") Заявка.docx
                        .order-doc__block
                            span 0.0 Мб
                            button
                                img(src="./images/icon/basket.svg", alt="basket")
                                | Удалить
                    .order-doc
                        .order-doc__block
                            a(href="#") Схема.bmp
                        .order-doc__block
                            span 0.0 Мб
                            button
                                img(src="./images/icon/basket.svg", alt="basket")
                                | Удалить
            .order-point
                span 6
                .order-point__text
                    p Комментарий к заявке
                    form(action="#")
                        textarea(name="text", cols="30", rows="10", placeholder="Оставьте свой комментарий")
                        .order-btn
                            a(href="#") Сохранить как черновик
                            input(type="submit", value="Отправить заявку")
.popup-order
    a(href="#0").popup-order__close
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.241038 12.9138C0.585377 13.2422 1.11336 13.2422 1.4577 12.9138L6.87531 7.74746L12.2929 12.9138C12.6143 13.2641 13.1423 13.286 13.5096 13.0014C13.8769 12.7168 13.8998 12.1914 13.6014 11.8412C13.5785 11.8193 13.5555 11.7755 13.5096 11.7536L8.09198 6.58721L13.5096 1.42084C13.8539 1.11436 13.8769 0.588968 13.5555 0.260597C13.2341 -0.067774 12.6832 -0.0896656 12.3388 0.216814C12.3159 0.238706 12.3159 0.238706 12.2929 0.260597L6.87531 5.42697L1.4577 0.260597C1.11336 -0.0458826 0.562421 -0.0239915 0.241038 0.30438C-0.0573899 0.610859 -0.0573899 1.11436 0.241038 1.42084L5.65865 6.58721L0.241038 11.7536C-0.0803459 12.082 -0.0803459 12.5855 0.241038 12.9138Z" fill="#0C3C60"/>
        </svg>
    p Заявка на технологическое присоединение успешно создана и отправлена в сетевую организацию
    .popup-order__btn
        a(href="#") Веруться к списку заявок
        a(href="./") Веруться на Главную