header.header
    .container
        .ht__phone
            img(src="./images/icon/person.svg", alt="person")
            a(href="#").header__sing-in Вход 
            span /
            a(href="#").header___sing-up Регистрация
.main-content__in.container
    .breadcrumbs
        a(href="#") Главная
        span /
        a(href="#") Личный кабинет
        span /
        a(href="#").active Мои данные
    .account
        h2 Мои данные
        .account__title
            .account__links
                a(href="#0") Мои данные
                a(href="#0") Заявки
                a(href="#0") Помощь
            .account__btns
                a(href="#") Удалить 
                a(href="#") Выйти
        .account__info
            .account__person
                h4 Иванов Иван Иванович
                .account__table
                    .account__row
                        span E-mail
                        span Info@nesko-nsk.ru
                    .account__row
                        span СНИЛС
                        span 111-222-333 00
                    .account__row
                        span Телефон
                        span 8 (383) 380-80-55
            .account__button
                a(href="#") Подать заявку
                a(href="#") Список заявок
        .order
            h4 Тип заявки
            p В случае необходимости подачи заявки:
            ul
                li на изменение максимальной присоединяемой мощности по заключенному договору об осуществлении технологического присоединения;
                li на продление срока действия технических условий по заключенному договору об осуществлении технологического присоединения;
                li о внесении изменений в технические условия по заключенному договору об осуществлении технологического присоединения;
                li уведомления о выполнении технических условий по заключенному договору об осуществлении технологического присоединения и выдаче актов о выполнении технических условий и/или актов об осуществлении технологического присоединения;
                li предоставление дополнительной информации к ранее поданной заявке;
                li переоформления заключенного договора об осуществлении технологического присоединения при смене владельца энергопринимающих устройств
            p Вам необходимо выбрать тип заявки из двух предложенных, соответствующий типу заявки, ранее выбранному для заключения договора об осуществлении технологического присоединения. Заявку необходимо заполнить по предложенной форме, при этом, в поле «Причина обращения в сетевую организацию» необходимо указать информацию, соответствующую причине Вашего обращения»
            input(type="radio", name="order")#constant
            label(for="constant") Заявка в целях технологического присоединения  
                strong по постоянной схеме 
                | объектов бытовых нужд или объектов,  предназначенных для осуществления 
                strong предпринимательской деятельности
            input(type="radio", name="order")#transient
            label(for="transient") Заявка на 
                strong временное 
                | технологическое присоединение энергопринимающих устройств для обеспечения электрической энергией объектов  по 
                strong третьей категории надежности 
                | электроснабжения
            button Далее
                <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM0 4.5H16V3.5H0V4.5Z" fill="white"/>
                </svg>