header.header
    .container
        .ht__phone
            img(src="./images/icon/person.svg", alt="person")
            a(href="#").header__sing-in Вход 
            span /
            a(href="#").header___sing-up Регистрация
.main-content__in.container
    .breadcrumbs
        a(href="#") Главная  
        span /
        a(href="#") Личный кабинет
        span /
        a(href="#") Заявки 
        span /
        a(href="#").active Заявка № 2887
    .account
        h2 Мои данные
        .account__title
            .account__links
                a(href="#0") Мои данные
                a(href="#0") Заявки
                a(href="#0") Помощь
            .account__btns
                a(href="#") Удалить 
                a(href="#") Выйти
        .account__info
            .account__person
                h4 Иванов Иван Иванович
                .account__table
                    .account__row
                        span E-mail
                        span Info@nesko-nsk.ru
                    .account__row
                        span СНИЛС
                        span 111-222-333 00
                    .account__row
                        span Телефон
                        span 8 (383) 380-80-55
            .account__button
                a(href="#") Подать заявку
                a(href="#") Список заявок
        .account__order
            .account__list
                span#ac-info.active Содержание заявки
                span#ac-docs Документы об осуществлении технологического присоединения
                span#ac-last Документы, обеспечивающие продажу электрической энергии
            .account__order-info.active
                h3 Содержание заявки
                .account__text-info
                    h4 Статус заявки
                    .account__table
                        .account__head
                            .account__col
                                span Идентификатор заявки
                                span 2829
                            .account__col
                                span Дата регистрации заявки
                                span 20.04.2020
                            .account__col
                                span Номер заявки
                                span -
                        .account__body
                            .account__line
                                .account__col
                                    span Статус заявки
                                .account__col-big
                                    span.red Отклонена
                            .account__line
                                .account__col
                                    span Причины отклонения
                                .account__col-big
                                    span.gray Описание причин отклонения заявки
                    h4 Сведения о заявителе
                    .account__chart
                        .account__line
                            .account__half
                                span Наименование присоединяемого энергопринимающего устройства
                            .account__half 
                                span Трансформаторная подстанция №29
                        .account__line 
                            .account__half
                                span Максимальная мощность (с учетом ранее присоединенных энергопринимающих устройств)  
                            .account__half
                                span > 150 кВт
                        .account__line 
                            .account__half
                                span Схема электроснабжения
                            .account__half
                                span Постоянная
                        .account__line 
                            .account__half
                                span Соответствует ли заявка, приложениям п.14 Правил технологического присоединения (Постановление Правительства РФ от 27.12.2004 №861)
                            .account__half
                                span Соответствует
                    h4 Список прикрепленных к заявке файлов
                    .account__chart
                        .account__line
                            .account__half
                                span Акт разграничения границ балансовой принадлежности электрических сетей
                            .account__half
                                span
                                    a(href="#")
                                        span
                                            img(src="./images/icon/file.svg", alt="file")
                                            span 1
                                        span Акт разграничения границ балансовой принадлежности электрических сетей
                        .account__line
                            .account__half
                                span Акт допуска прибора учета в эксплуатацию
                            .account__half
                                span
                                    a(href="#")
                                        span
                                            img(src="./images/icon/file.svg", alt="file")
                                            span 2
                                        span Акт допуска прибора учета в эксплуатацию
                        .account__line
                            .account__half
                                span План расположения энергопринимающих устройств, которые необходимо присоединить к электрическим сетям сетевой организации
                            .account__half
                                span
                                    a(href="#")
                                        span
                                            img(src="./images/icon/file.svg", alt="file")
                                            span 3
                                        span Копия документа, подтверждающего право собственности
                        .account__line
                            .account__half
                                span Копия документа, подтверждающего право собственности
                            .account__half
                                span
                                    a(href="#")
                                        span
                                            img(src="./images/icon/file.svg", alt="file")
                                            span 4
                                        span Копия документа, подтверждающего право собственности
                        .account__line
                            .account__half
                                span Копия паспорта с регистрацией места прописки
                            .account__half
                                span
                                    a(href="#")
                                        span
                                            img(src="./images/icon/file.svg", alt="file")
                                            span 5
                                        span Копия паспорта с регистрацией места прописки
                    h4 Комментарий
                    .account__commit
                        p К заявке предоставляю дополнительные сведения...
            .account__order-docs
                h3 Документы об осуществлении технологического присоединения
                a(href="#")
                    span
                        img(src="./images/icon/file.svg", alt="file")
                    span Документ 1 
                a(href="#")
                    span
                        img(src="./images/icon/file.svg", alt="file")
                    span Документ 2
                a(href="#")
                    span
                        img(src="./images/icon/file.svg", alt="file")
                    span Документ 3
                h4 Информация по заявке
                .comment
                    .comment__title 
                        span Комментарий от 22.10.2020
                    .comment__text
                        p Окно «Информация по заявке» для текстовых сообщений администратором/модератором сайта, без возможности редактирования заявителем. 
                        p Каждая новая размещаемая информация модератором/администратором сайта по заявке, должная смещать вниз информацию, размещенную ранее.
                .comment
                    .comment__title 
                        span Комментарий от 12.10.2020
                    .comment__text
                        p Окно «Информация по заявке» для текстовых сообщений администратором/модератором сайта, без возможности редактирования заявителем. 
                        p Каждая новая размещаемая информация модератором/администратором сайта по заявке, должная смещать вниз информацию, размещенную ранее.
                .comment
                    .comment__title 
                        span Комментарий от 02.10.2020
                    .comment__text
                        p Окно «Информация по заявке» для текстовых сообщений администратором/модератором сайта, без возможности редактирования заявителем. 
                        p Каждая новая размещаемая информация модератором/администратором сайта по заявке, должная смещать вниз информацию, размещенную ранее.
                .comment
                    .comment__title 
                        span Комментарий от 22.10.2020
                    .comment__text
                        p Окно «Информация по заявке» для текстовых сообщений администратором/модератором сайта, без возможности редактирования заявителем. 
                        p Каждая новая размещаемая информация модератором/администратором сайта по заявке, должная смещать вниз информацию, размещенную ранее.
            .account__order-last
                h3 Документы, обеспечивающие продажу электрической энергии
                a(href="#")
                    span
                        img(src="./images/icon/file.svg", alt="file")
                        span 1
                    span Акт разграничения границ балансовой принадлежности электрических сетей (не предоставляется, если акт об осуществлении технологического присоединения содержит описание границ балансовой принадлежности объектов электроэнергетики (энергопринимающих устройств))
                a(href="#")
                    span
                        img(src="./images/icon/file.svg", alt="file")
                        span 2
                    span Акт разграничения границ балансовой принадлежности электрических сетей (не предоставляется, если акт об осуществлении технологического присоединения содержит описание границ балансовой принадлежности объектов электроэнергетики (энергопринимающих устройств))
                a(href="#")
                    span
                        img(src="./images/icon/file.svg", alt="file")
                        span 3
                    span Акт допуска прибора учета в эксплуатацию
                a(href="#")
                    span
                        img(src="./images/icon/file.svg", alt="file")
                        span 4
                    span Акт разграничения границ балансовой принадлежности электрических сетей (не предоставляется, если акт об осуществлении технологического присоединения содержит описание границ балансовой принадлежности объектов электроэнергетики (энергопринимающих устройств))
                a(href="#")
                    span
                        img(src="./images/icon/file.svg", alt="file")
                        span 5
                    span Акт допуска прибора учета в эксплуатацию
                button Прикрепить файл
                h4 Информация по заявке
                .comment
                    .comment__title 
                        span Комментарий от 22.10.2020
                    .comment__text
                        p Окно «Информация по заявке» для текстовых сообщений администратором/модератором сайта, без возможности редактирования заявителем. 
                        p Каждая новая размещаемая информация модератором/администратором сайта по заявке, должная смещать вниз информацию, размещенную ранее.
                .comment
                    .comment__title 
                        span Комментарий от 12.10.2020
                    .comment__text
                        p Окно «Информация по заявке» для текстовых сообщений администратором/модератором сайта, без возможности редактирования заявителем. 
                        p Каждая новая размещаемая информация модератором/администратором сайта по заявке, должная смещать вниз информацию, размещенную ранее.
                .comment
                    .comment__title 
                        span Комментарий от 02.10.2020
                    .comment__text
                        p Окно «Информация по заявке» для текстовых сообщений администратором/модератором сайта, без возможности редактирования заявителем. 
                        p Каждая новая размещаемая информация модератором/администратором сайта по заявке, должная смещать вниз информацию, размещенную ранее.
                .comment
                    .comment__title 
                        span Комментарий от 22.10.2020
                    .comment__text
                        p Окно «Информация по заявке» для текстовых сообщений администратором/модератором сайта, без возможности редактирования заявителем. 
                        p Каждая новая размещаемая информация модератором/администратором сайта по заявке, должная смещать вниз информацию, размещенную ранее.
                